#──────────────🔄 CASE SENSITIVITY 💡──────────────#

set completion-ignore-case on

#─────────────⚙️ VIRTICAL TAB SUGGESTION 🧩─────────────#

set completion-display-width 0

#──────────────🔄 History SCORLING 💡──────────────#
"\e[A": history-search-backward
"\e[B": history-search-forward
set show-all-if-ambiguous on



