#──────────────🔄 BASH TAB SUGGESTION 💡──────────────#

TAB: menu-complete
set completion-ignore-case on

#─────────────⚙️ EXTRA TAB FUNCTIONS 🧩─────────────#

set show-all-if-ambiguous on
set show-all-if-unmodified on
set menu-complete-display-prefix on
"/t": menu-complete
"\e[Z": menu-complete-backward
"\e[A": history-search-backward
"\e[B": history-search-forward
"\eOA": history-search-backward
"\eOB": history-search-forward

#──────────────🎨 TAB COLOR COMPLETION 🌈──────────────#
set colored-stats on
set visible-stats on
set mark-symlinked-directories on


